body {
    background-color: lightblue;
}

.header {
    background-color: blue;
}

/* please put your css code here above the footer code */




/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border: 2px solid black;
}
footer.container {
    height: 80px;
    position: fixed;
}