* {
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 100%;
    margin-top: 80px;
    min-height: 100vh;
}

/* Navbar styling */
.navbar-toggler {
    border: none;
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
    color: #666777;
}

/* product section */
#section {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.row {
    align-items: center;
    justify-content: center;
}


.card {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
    transition: ease all 2.3s;
    margin-top: -20%;
}

.card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
}

.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover:before {
    content: '';
    position: absolute;
    box-shadow: 0 0 12px rgba(187, 117, 117, 0.3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all 2.3s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.cover:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;

}

.description {
    position: absolute;
    font-weight: 500;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    font-size: 16px;
    transform: translateZ(0px);
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: hsla(0, 2%, 11%, 0.742);
    width: 100%;
    top: 45%;
    text-align: center;

}


.cover h1 {
    font-weight: 200;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 3;
    font-size: 1em;
    padding: 10px;
    background-color: hsla(0, 2%, 11%, 0.742);
}

.cover h2 {
    font-weight: 200;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 3;
    font-size: 16px;
    padding: 5px;
    background-color: hsla(0, 2%, 11%, 0.742);
}

.cover .price {
    font-weight: 200;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 4;
    font-size: 1em;
    padding: 10px;
    background-color: hsla(0, 2%, 11%, 0.742);

}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back a {
    transform-style: preserve-3d;
    transition: ease transform 2.3s, ease background .5s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
}

.card-back a:hover {
    background-color: white;
    color: #0b0f08;
}

.card.flipped .cover {
    transform: rotateY(0deg);
    transition: ease all 2.3s;
}

/*about page*/
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(static/images/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8%;
}

.about {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.about h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    text-decoration: underline #fff;
    text-underline-offset: 8px;
}

.about h2 {
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 40px;
}

.about p {
    font-size: 20px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*product details page */

#link-to-home {
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 10px;
    font-size: large;
}

#hero {
    width: 100%;
    height: 50vh;
}

#main-heading {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
    background-color: chocolate;
}


h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: #0b0f08;
    margin-bottom: 10px;

}


#product-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

#details {
    display: flex;
    align-items: first baseline;
    padding: 20px;
    margin-top: auto;
}

#details>div:first-child {
    margin-right: 2rem;
}

#detail-image {
    border-radius: 10px;
    max-width: 100%;
}

.description-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;

}

#edit {
    margin-top: 1rem;
}

#contact-seller,
#add-to-chart {
    width: 100%;
}

#edit a,
#delete a {
    width: 100px;
    margin-right: 1em;
}
 
/* add item page */
.form-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; 
}

form {
    width: 50%; 
    margin: 0 auto; 
}

#submit{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: hsl(208, 76%, 47%); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #0a3360;
}
/*delete page*/
#delete-conatainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: large;
    color: green;
    height: 100vh;
    flex-direction: column;
}
/*footer*/
footer {
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    position: absolute;

}

@media screen and (max-width: 368px) {
    #details {
        flex-direction: column;
    }

    #product-detail-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 20px;
    }

    #link-to-home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: large;
    }

    #detail-image {
        border-radius: 10px;
    }

    #hero {
        width: 100%;
        height: 50vh;
    }

}

/*Tablet*/
@media screen and (min-width: 510px) {
    .about {
        padding: 100px 0;
        color: #fff;
        text-align: center;
    }
}

/*Laptop and Desktop*/
@media screen and (min-width: 991px) and (max-width: 1300px) {
    .about {
        padding: 200px 0;
        color: #fff;
        text-align: center;
    }

}

/*Larger screens */
@media screen and (min-width: 1400px) {
    .about {
        padding: 200px 0;
        color: #fff;
        text-align: center;
    }
}