{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="about">
        <h1>About Us</h1>
        <h2>Welcome to our college marketplace!</h2>
        <p>Our platform provides a convenient way for students to buy and sell used items within the college
        community. Whether you're looking to buy textbooks, electronics, furniture, or other items, you'll find a wide
        range of listings from fellow students. Thank you for using our marketplace to connect with your peers and make sustainable choices by giving
        items a second life!</p>
    </div>
</div>
{% endblock %}