{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>Welcome to our college marketplace!</p>
    <p>Our platform provides a convenient way for students to buy and sell used items within the college community.</p>
    <p>Whether you're looking to buy textbooks, electronics, furniture, or other items, you'll find a wide range of listings from fellow students.</p>
    <p>Thank you for using our marketplace to connect with your peers and make sustainable choices by giving items a second life!</p>
{% endblock %}