{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for product in products%}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="cover item-a" style="background-image: url('{{ product.image.url }}');">
                        <h1>{{ product.title }}</h1>
                        <p class="description" style="display: none;">{{ product.description }}</p>
                        <span class="price">£{{ product.price }}</span>
                        <div class="card-back">
                            <a href="#" class="add-to-cart">Add to cart</a>
                            <a href="#" class="view-details">View detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endfor %}


{% endblock %}