{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="section">
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2">
                    <div class="cover item-a" style="background-image: url('{{ product.image.url }}');">
                        <h1>{{ product.title }}</h1>
                        <h2>Seller: {{ product.user|capfirst }}</h2>
                        <p class="description" style="display: none;">{{ product.description }}</p>
                        <span class="price">£{{ product.price }}</span>
                        <div class="card-back">
                            <a href="#" class="add-to-cart">Add to cart</a>
                            <a href="#" class="view-details">View detail</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}