{% load static %}
{% url 'index' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'product'  as product_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market place</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{% url 'index' %}" class="navbar-brand mb-0 h1">Market Place</a>
                <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                                href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page"
                                href="{% url 'about' %}">About</a>
                        </li>

                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link {% if request.path == add_item_url %}active{% endif %}"
                                aria-current="page" href="{% url 'form' %}">Add Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_logout' %}">Logout <span style="border-bottom: 3px solid red;"> {{ user|capfirst }}</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'account_login' %}">Sign in</a>
                        </li>
                        {% endif %}
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <main>

        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer" id="footer">
        <!--Social Media Links-->
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" role="button"
                    href="https://www.Facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="btn text-white btn-floating m-1" style="background-color: #e60e0e;" role="button"
                    href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Youtube page (opens in a new tab)">
                    <i class="fab fa-youtube"></i>
                </a>
                <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" role="button"
                    href="https://www.twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in a new tab)">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" role="button"
                    href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)">
                    <i class="fab fa-instagram"></i>
                </a>
                <p> &copy; 2024 Market place </p>
            </section>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>