{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market place</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                                href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                              {% if request.path == about_url %}active{%endif%}" aria-current="page"
                                href="">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                              {% if request.path == about_url %}active{%endif%}" aria-current="page"
                                href="">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                              {% if request.path == about_url %}active{%endif%}" aria-current="page"
                                href="">Sign in</a>
                        </li>
                        
                 

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1> This is the base file </h1>
    {% block content %}
    {% endblock %}


    <footer class="footer" id="footer">
        <p> &copy; 2024 Market place </p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>